name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v3
    - name: Build with Gradle
      run: |
        chmod +x gradlew
        ./gradlew assemble
    - name: Move JAR to specified folder
      run: mv ./build/libs/ph2.jar ./deployment/
    - name: Build the Docker image
      run: docker build ./deployment --file ./deployment/Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/ph2:$(date +%s)
    - name: Push to Docker Hub
      run: |
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker push ${{ secrets.DOCKER_USERNAME }}/ph2:$(date +%s)
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    - name: Clean up local Docker image
      run: |
        docker rmi ${{ secrets.DOCKER_USERNAME }}/ph2:$(date +%s)
